@model Event_Manager.Models.Event

@{
    ViewData["Title"] = "Artist Event Information:";
}
<h2>Read Events</h2>
<form action="/" method="post">
    Event Name: @Model.Name<br />
    Artist Name: @Model.EventName<br />
    Date and Time: @Model.date<br />
    Location: @Model.location<br />
    Genre: @Model.genre<br />

</form>

<form asp-controller="Home" asp-action="Index" method="get">
    <br />
    <button>Go back</button>
</form>